name: test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v6
      with:
        node-version: '17.x'
    - run: yarn install
    - run: yarn lint
    - run: yarn type-check
    - run: yarn ci
    - uses: codecov/codecov-action@v5
